.emptyParkingPlace {
  height: 200px;
  width: 100px;
  border-width: 5px;
  background-size: cover;
  display: grid;
  grid-gap: 10px;
  border-radius: 25px;
}

.Car {
   	height: 200px;
    width: 100px;
    border-width: 5px;    
    border-style: none; 
    /* border-color: blue; */
    background: url('./bgImage/car2.jpg') no-repeat center;
    background-size: cover;
    /* background-color: red; */
    display: grid; 
    /* align-items: center; */
    grid-gap: 10px;
    /* grid-row-start: 10px; */
    border-radius: 25%;
    /* gap: 50px; */
    
}
/* .grid-container {
    gap: 50px;
} */

/* .Car > div {
  color: rgb(12, 20, 30);
} */

.cotainerCar {
    text-align: start;
    border-radius: 15px;
    text-decoration-color: aqua;
  }

  .isPayedConteiner{
    color: azure;
    /* background-color:azure */
  }

  .parkingCar {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, auto) ;
    align-content: space-between;
    
  }

.truck {
    height: 100px;
    width: 250px;
    background: yellow;
    /* display: grid; */
    align-items: center;
}

