.Car {
   	height: 100px;
    width: 200px;
    border-width: 5px;    
	border-style: double; 
	border-color: blue;
  
	background: url('./bgImage/car.jpg') no-repeat center;
    background-size: cover;
    /* background-color: red; */
    display: grid; 
    align-items: center;
    /* grid-gap: 10px; */
    /* grid-row-start: 10px; */
    border-radius: 25%;
    /* gap: 50px; */
}
/* .grid-container {
    gap: 50px;
} */
.cotainerCar > div {
    /* border: 1px solid yellow; */
    /* background-image: url(bgImage/truck.jpg); */
    border-radius: 15px;
  }

  .parkingCar {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, auto) ;
    align-content: space-between;
    
  }

.truck {
    height: 100px;
    width: 250px;
    background: yellow;
    /* display: grid; */
    align-items: center;
}

