.App {
  text-align: center;
  background-color: lightblue;
  height: 100dvh;
  display: grid;
  grid-template-rows: 3rem 1fr 5rem;
 

}

#header{
  background-color: azure;


}
#main-vrapper{
  display: grid;
  grid-template-columns: 15% 1fr;
  display: grid;
  
}

#sidebar{
  background-color: blueviolet;

}
#main{
  background-color: whitesmoke;
}
#footer{
  background-color: lightgray;
}
#button {

  background-color: red;
  border-radius: 35%;
 
  
}

li {
  list-style-type: none;
 }


 #parkingCar {
  display: grid;
  justify-content: center;
  align-items: center;
 }